<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Model</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Select a Model</h1>
    <form action="{% url 'redirect_model' %}" method="post">
        {% csrf_token %}
        <label for="model">Choose a model:</label>
        <select name="model" id="model">
            <option value="XGBoost">XGBoost</option>
            <option value="Prophet">Prophet</option>
        </select>
        <button type="submit">Go</button>
    </form>
</body>
</html>
