<!-- templates/prophet_analysis.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prophet Analysis</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Prophet Forecasting Analysis</h1>
        <div>
            {{ plot|safe }}
        </div>
        <br>
        <a href="{% url 'index' %}">Back to Home</a>
    </div>
</body>
</html>
